.WhiteShoppingListItem-container
    width: 100%
    height: 56px
    border-radius: 8px
    border: 1px #dedede solid
    background-color: white
    display: flex
    padding: 8px 10px
    box-sizing: border-box
    div
        width: 80px
    .buttonPanel
        padding: 
        display: flex
        align-items: center
        margin-right: 8px
        .buttonField
            margin-right: 5px
            width: 100%
            height: 90%
            display: flex
            justify-content: center
            align-items: center
            border: 1px #dedede solid
            border-radius: 50%
            cursor: pointer
            &:last-child
                margin-right: 0
            
    .inputPanel
        display: flex
        flex: 1
        align-items: center
        .inputField
            height: 100%
            flex: 1
            margin-right: 10px
            width: 40px
            &:last-child
                margin-right: 0px
            input
                width: 100%
                height: 100%
                border: 1px #dedede solid
                box-sizing: border-box
                border-radius: 5px
                background-color: #f6f9fb
                padding: 0px 5px
                text-align: right
        .nameField
            flex: 2
        