.ShoppingListWindow-container
    display: flex
    flex-direction: column
    width: 100%
    
    .headPanel
        width: 100%
        height: 50px
        border-radius: 5px
        display: flex
        align-items: center

        .nameInput
            flex: 1
        .addButton
            border: none
            background-color: inherit
            font-size: 20px
            color: #713ef0

            &:hover
                background-color: #713ef0
                color: white

        .headInput
            box-sizing: border-box
            height: 100%
            width: 80px
            margin-right: 5px
            border-bottom: 2px #713ef0 solid

            &:last-child
                margin-right: 0px

            input
                height: 100%
                width: 100%
                background-color: inherit
                border: none

    .controlPanel
        display: flex
        flex-direction: column
        position: absolute
        right: 32px
        bottom: 32px
        background-color: #dd4881
        padding: 8px 16px
        border-radius: 5px
        width: 120px

        .controlRow
            height: 40px
            display: flex
            width: 100%
            align-items: center
            div
                height: 100%
                width: 30px
                display: flex
                align-items: center
            .iconField
                color: #ffffff
            .numberField
                color: #ffffff
                flex: 1
                display: flex
                justify-content: right
                input
                    border-radius: 5px
                    padding-right: 5px
                    text-align: right
                    height: 90%
                    width: 100%
                    // background-color: inherit
                    border: none
            
            
            

            

        

        
        
            

